body{
    background-color: darkgray;
}
h1{
    text-align: center;
}
table{
    border-collapse: collapse;
    margin: 0 auto;
}
td{
    width: 100px;
    height: 100px;
    text-align: center;
    vertical-align: middle;
    border: 1px solid black;
}
.x{
    color: red;
    font-size: 80px;
}
.o{
    color: #727980;
    font-size: 80px;
}
.win{
    background-color: yellow;
}
img{
    display: block;
    width: 25%;
    height: auto;
    margin: 10px auto;
}
#resetButton{
    display: block;
    margin: 10px auto;
}